.discover-btn{
    background-color: #ED1D24;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px 32px;
    border-radius: 50px;
    font-weight: 700;
}

