/* .content1-bg{
    background-color: #f0edea;
    height: 100%;
} */
/* .welcome-txt{
    font-size: 50px;
    font-family: 'Marecellus', sans-serif;
    color: #111010;
} */
/* .sit-txt{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #111010;
    margin: 0px 0px 18px;
} */
/* .becco-txt{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #111010;
    font-weight: bold;
} */

/* .col-margin-set{
    margin: auto;
} */
/* .c1-row-set{
    padding-top: 70px;
    padding-bottom: 70px;
} */

/* .content1-p2-bg{
    height: 100%;
} */

/* .sit-txt > a{
    color: #5D5D5D;
    font-size: 18px;
    font-weight: bolder;
}

.sit-txt > a:hover{
    color: #ED1D24;
    text-decoration: none;
} */
